<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mittaukset</title>

    <style>
    table {
        border-collapse: collapse;
        width: 100%;
        max-width: 500px;
    }

    th, td {
        border: 1px solid #ccc;
        padding: 8px 12px;
        text-align: left;
    }

    th {
        background-color: #f4f4f4;
    }

    tr:nth-child(even) {
        background-color: #fafafa;
    }

    tr:hover {
        background-color: #f1f7ff;
    }
</style>

</head>
<body>
    <h1>Mittaukset</h1>
    <table>
        <tbody id="mittaustaulukko">
            {% for avain, arvo in taulukko.items() %}
            <tr>
                <td>{{avain}}</td>
                <td>{{arvo}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        const mittaustaulukko = document.getElementById("mittaustaulukko");
        const eventSource = new EventSource("/stream");

        eventSource.onmessage = function(event) {
            console.log(event)

            const data = JSON.parse(event.data);

            const mittausObj = data.mittaus;
            const aika = Object.keys(mittausObj)[0];
            const lampotila = mittausObj[aika];

            const uusirivi = document.createElement("tr");

            const aikasolu = document.createElement("td");
            aikasolu.textContent = aika;

            const lampotilasolu = document.createElement("td");
            lampotilasolu.textContent = lampotila;

            uusirivi.appendChild(aikasolu);
            uusirivi.appendChild(lampotilasolu);

            mittaustaulukko.appendChild(uusirivi);
        };

        eventSource.onerror = function() {
            console.log("Virhe SSE-yhteydessä")
        };
    </script>

</body>
</html>